
body {
    background-image: url("image/bg.jpg");
    background-size: cover;
}

canvas{background-color: white;
    border-radius:10px;
}

img {
    height: 45px;
    width: 45px;
}

p{
    color:white;
}

.color {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
    background-color: white;
  }

  .width {
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
    background-color: white;
  }

  #buttons {
    position: absolute;
    top: 5px;
    left: 10px;
  }

  #red {
    background-color: red;
  }
  #blue {
    background-color: blue;
  }
  #green {
    background-color: green;
  }
  #purple {
    background-color: purple;
  }
  #yellow {
    background-color: yellow;
  }
  #orange {
    background-color: orange;
  }
  #pink {
    background-color: pink;
  }
  #black {
    background-color: black;
  }
  #white {
   background-color: white;
  }

  img,button:hover{
    border-radius:25px;
}